
<%= form_with model: Inventory.new, :url => {:action => :create, :controller => :inventories}, class:"post-form" do |form| %>
  <h1>New Inventory</h1>
  <div>
    <%= form.label :name%>
    <%= form.text_field :name %>
    
  <div>
  <div>
    <%= form.label :description %>
    <%= form.text_area :description %>
  <div>

  <%= form.submit "Create inventory", class:"btn btn-primary" %>
  <% end %>