<h1>Inventories show page</h1>
<h2><%= @inventory.name %></h2>
<%= link_to 'Add food', new_user_inventory_inventory_food_path(params[:user_id], params[:id]), class:'btn btn-success btn-sm' %>
<ul>
  <% @foods.each do |food| %>
  
  <li class="d-flex">
    <span><%= food.name%></span><br>

    <span>
    <% inventory_food = @inventory_foods.select {|inv| inv.food_id==food.id} %>
      <% if inventory_food.size >0 %>
      <%= inventory_food[0].quantity %>
          <% if can? :destroy, InventoryFood %>
           <%= link_to 'Remove', user_inventory_path(params[:user_id], params[:id])+'/inventory_foods/'+inventory_food[0].id.to_s, method: :delete, class:'btn btn-danger btn-sm' %>
          <% end %>
      <% end %>
    </span><br>

    
  </li>
<% end %>

