<%= form_with model: @recipe_food, url: user_recipe_recipe_food_path(@recipe_food), method: :patch, local: true do |form| %>

  <div class="field">
    <%= form.label :food, class: "label" %>
     <div class="select-option">
        <%= form.select :food_id, current_user.foods.collect {|food| [food.name, food.id] }, { include_blank: true} %>
     </div>
  </div>
  <div class="field">
    <%= form.label :quantity, class: "label" %>
    <div class="quality">
      <%= form.number_field :quantity, class: "input", required: true, min: 0 %>
    </div>
  </div>

  <div class="actions">
    <%= form.submit  "Edit recipe food", class: "button is-success" %>
  </div>
<% end %>

