<div class="container py-5 h-100">
  <%= form_with model: @recipe_food, url: { action: "create" } do |form| %>
    <div class="field">
      <%= form.label :food, class: "" %>
      <div class="select-option">
          <%= form.select :food_id, current_user.foods.collect {|food| [food.name, food.id] }, { include_blank: true} %>
      </div>
    </div>
    
    <div class="">
      <%= form.label :quantity %>
      <div>
        <%= form.text_field :quantity, required: true, min: 0 %>
      </div>
    </div>

    <div>
      <%= form.submit class: "btn btn-primary mt-3" %>
    </div>
  <% end %>
</div>
